$namespace: 'xmx';
$default-color: #1a2432;
$primary-color: rgb(23, 162, 184);
$input-color: rgba(255,255,255,0.65);
$input-border-color: rgba(255,255,255,0.08);

.#{$namespace}-icon-calendar {
  display: none;
}

.#{$namespace}-input {
  background-color: $default-color!important;
  height: 44px!important;
  padding-right: 10px!important;
}
.#{$namespace}-icon-calendar {
  color: $input-color!important;
}

@import '~vue2-datepicker/scss/index.scss';
